body {
	background-color: #ede7f6!important;
	margin: 0;
}

header {
	background-color: rgb(103, 58, 183);
	height: 350px;
	float: none!important;
}

#document {
	position: relative;
    background-color: white;
   	width: 800px;
   	margin: auto;

}

#document p {
	margin-top: 10px;
	padding-bottom: 10px;
	font-size: 34px;
}

#color {
	background-color: rgb(179, 136, 255);
	height: 8px;
	margin-top: -100px;
}

#question {
	margin-left: 20px;
}

#question p {
	font-size: 20px;
}

.btn-primary {
	margin-top: 20px;
	background-color: #4285f4!important;
	margin-bottom: 30px!important;
}

#footer {
	padding-top: 40px;
	width: 800px!important;
	position: relative!important;
	margin: auto!important;
	float: none!important;
}

img {
	margin-top: 10px;
	margin-bottom: 40px;
}